
@font-face {
    font-family:'Lato';
    src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family:'Pattaya';
    src: url(../assets/fonts/Pattaya-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*el fondo principal de la pagina*/
body {
    background-image: url("../assets/img/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.blurred{
    backdrop-filter: blur(3px);
    height: 100%;
}

/*el contenedor del logo de la asociacion de heladeros*/
.contenedorLogo{
    display: inline-block;
    width: 150px;
    height: 70%;
    margin-top: 0;
}
/*la clase del nombre de la heladeria, iria mas al medio*/
.nombre{
    display: inline-block;
    font-family: Pattaya;
    font-size: 6rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
/*la clase del logo de la heladeria*/
.logo{
    display: inline-block;
    width: 200px;
    height: 100%;
    margin-left: 100px;
}

.headerNombreyLogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*el div que contiene las propiedades de la lista de navegacion*/


/*cada link de navegacion tiene la clase linkNav*/
.nav-pills{
    font-family: Pattaya;
    margin: 2%;
    font-size: 1.8rem;
    
}

.nav-pills .nav-link.active{
    background-color: aqua;
}



/*el parrafo de inicio de index, se puede mejorar pero no se me ocurre como*/
.parrafoIndex{
    font-family: Lato;
    font-size: 2rem;
    text-align: center;
}
/*el tamaño de cada uno de los trofeos, la idea es acomodarlo con flexbox y que queden uno al lado del otro */

.trofeos {
    margin-top: 50px;
    text-align: center;
}

.trofeos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trofeo-card {
    margin: 20px;
    max-width: 300px;
    text-align: center;
}

.trofeo-card img {
    max-width: 100%;
    height: auto;
}

.trofeo-text {
    padding: 10px;
}


/*el footer de la frase de abajo*/
.footer{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    text-align: right;
    font-family: Pattaya;
    font-size: 0.75rem;

}
/*los enlaces de las redes sociales*/
.enlaces{
    float: right;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
    
}


.carousel-item{
    height: 75vh;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}