@import "variables.scss";
@import "header.scss";
@import "footer.scss";

@font-face {
    font-family:'Lato';
    src: url(../assets/fonts/Lato-Regular.ttf);
}
@font-face {
    font-family:'Pattaya';
    src: url(../assets/fonts/Pattaya-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*el fondo principal de la pagina*/
body {
    background-image: url("../assets/img/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.blurred{
    backdrop-filter: blur(3px);
    height: 100%;
}

.titulo {
    font-family: $fontTitulo;
    display: flex;
    justify-content: center;
}

h1 {
    @extend .titulo;
}

h2 {
    @extend .titulo;
}

h3 {
    @extend .titulo;
}


/*el contenedor del logo de la asociacion de heladeros*/
.contenedorLogo{
    display: inline-block;
    width: 150px;
    height: 70%;
    margin-top: 0;
}

/*el div que contiene las propiedades de la lista de navegacion*/


/*cada link de navegacion tiene la clase linkNav*/

.nav-pills{
    font-family: $fontTitulo;
    margin: 2%;
    font-size: 1.8rem;
    
}

.nav-pills .nav-link.active{
    background-color: $colorBlanco;
}



/*el parrafo de inicio de index*/
.parrafoIndex{
    font-family: Lato;
    font-size: 2rem;
    text-align: center;
}

.parrafoIndexCompleto{
    background-color: $colorBlanco;
    padding: 10px;
}
/*el tamaño de cada uno de los trofeos */

.trofeosIndex{
    margin: auto;
    margin-top: 50px;
    background-size: cover;
    
}
.trofeos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background-color:$colorBlanco;
}
.card-img-top{
        width: 75%;
    }


.trofeo-text {
    padding: 10px;
}


.logoProductos{
    display: flex;
    justify-content: center;
}


.carousel-item{
    height: 75vh;
}

.carousel-item img{
    height: 100%;
    object-fit: cover;
}


.parrafoSucursales{
    background-color: $colorBlanco;
    padding: 10px;
    margin-bottom: 20px;

}

.imagenHistoria{
    display: flex;
    height: 50%;
    justify-content: right;
}
.formularioContacto{
    display: flex;
    background-color: $colorBlanco;
}

